<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr/>
<div>
  <h1>Example - Event Click </h1>
  <button (click)="increment()">Increment</button>
  <span>{{counterValue}}</span>
</div>

<hr/>
<div>
  <h1>Example - Property </h1>
  <input [value]="userlastname">
  <p>Hello {{userlastname}}!</p>
</div>

<hr/>
<div>
  <h1>Example - Property + Event </h1>
  <input [value]="username" (input)="username = $event.target.value">
  <p>Hello {{username}}!</p>
</div>

<hr/>
<div>
  <h1>Example - Dual Binding </h1>
  <input type="text" [(ngModel)]="name">
  <h1>your name is: {{name}} </h1>
</div>